.app__about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.app__about-text {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.app__about-text h4 {
  font-family: var(--font-alt);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.app__about-text h1 {
  width: 65vw;
  font-family: var(--font-base);
  font-size: 3.2rem;
  font-weight: 300;
  letter-spacing: -0.1rem;
}
.app__about-story_title {
  padding-left: 2rem;
  padding-right: 2rem;
}
.app__about-story_title-left,
.app__about-story_title-right {
  font-family: var(--font-base);
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -0.1rem;
}
.app__about-story_title-right {
  text-align: right;
}

.app__about-story {
  padding: 10rem;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 2fr 1fr;
}

#app__about-story_01 {
  width: 280px;
  height: auto;
  position: relative;
  top: 5rem;
  transition: all 0.3s;
}

.app_about-story_content {
  padding: 4rem 4rem 2rem 20rem;
}

.app__about-story_text h1 {
  width: 100%;
  margin-bottom: 2rem;
}

.app__about-story_text p {
  font-family: var(--font-alt);
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
}

@media screen and (max-width: 69em) {
  .app__about-story {
    grid-template-columns: 1fr;
  }
  .app__about-text h1 {
    font-size: 2.5rem;
  }

  .app__about-story_title-left,
  .app__about-story_title-right {
    font-size: 2.5rem;
  }

  .app__about-story {
    padding: 7rem;
  }
  .app_about-story_content {
    padding: 3rem 3rem 2rem 15rem;
  }
}

@media screen and (max-width: 48em) {
  .app__about-text h1 {
    font-size: 2rem;
  }

  .app__about-story_title-left,
  .app__about-story_title-right {
    font-size: 2rem;
  }
  .app__about-story {
    padding: 2rem;
  }
  .app_about-story_content {
    padding: 2rem 2rem 1rem 8rem;
  }
}

@media screen and (max-width: 30em) {
  .app__about-text {
    gap: 2rem;
  }
  .app__about-text h1 {
    width: 85vw;
  }
  .app_about-story_content {
    padding: 1rem;
  }
  .app__about-story_title {
    padding-left: 0;
    padding-right: 0;
  }
  .app__about-story_title-left,
  .app__about-story_title-right {
    font-size: 1.8rem;
  }

  @media screen and (max-width: 24em) {
    .app__about-story_title-right,
    .app__about-story_title-left {
      font-size: 1.6rem;
      text-align: left;
    }
    .app_about-story_content {
      margin-top: 1rem;
      padding: 0rem;
    }
  }
}
